html {
    box-sizing: border-box;
    font-size: 22px;
}
*,
*:before,
*:after {
    box-sizing: inherit; 
}
 body {
     background-color: black;
     font-family: helvetica;
     color: seashell;
     margin: 0px;
 }

 nav {
    background-color: black;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 69px;
    padding: 30px;
    z-index: 1;
 }

 ul {
    list-style-type: none;
    display: inline-flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
 }

li {
    text-decoration: none;
}

li:hover {
    color: white; 
    text-decoration: underline;
}

 img {
     height: 50px;
     max-width: 150px;
 }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 700px;
}

.main-header {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 80%;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

h2 {
    margin: 10px;
}

h4 {
    margin: 0px;
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
}

.card {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 200px;
    background-color: pink;
}
 @media only screen and (max-width: 600px) {

     h2 {
         margin: 5px;
     }

     h4 {
        margin: 10px;
        font-size: 18px;
     }
 }

 .orange-nav {
    position: fixed;
    background-color: #C24811;
    width: 100%;
    height: 66px;  
    padding: 0px;
    z-index: 10000;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }

 .content {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-left: 35px;
    width: 87%;
 }

 ul {
     display: flex;
     flex-wrap: wrap;
 }